body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

/* Layout */
.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 30%;
  background: #111;
  overflow-y: auto;
}

.sidebar h3 {
  padding: 10px;
}

.sidebar li {
  padding: 12px;
  border-bottom: 1px solid #222;
  cursor: pointer;
}

/* Chat area */
.chat-area {
  width: 70%;
  display: flex;
  flex-direction: column;
}

/* Header */
.chat-header {
  background: #111;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

/* Messages */
.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

/* Bubbles */
.me {
  background: #00aaff;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  align-self: flex-end;
  max-width: 70%;
}

.other {
  background: #222;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 70%;
}

/* Input */
.input-area {
  display: flex;
  padding: 10px;
  background: #111;
}

.input-area input {
  flex: 1;
  padding: 10px;
  border: none;
  background: #222;
  color: white;
}

.input-area button {
  width: 60px;
  background: #00aaff;
  border: none;
}

/* 📱 Mobile */
@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: 30%;
  }

  .chat-area {
    width: 100%;
    height: 70%;
  }
}
